<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Dados Pessoais</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Thiago Moraes" formControlName="name">
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. teagaje@gmail.com" formControlName="email">
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Ex. (21) 96514-6257" formControlName="tel">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="sendDataGA()">Proximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Dados de endereço</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" placeholder="Ex. 12345-678">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enviar</ng-template>
      <section>
        <mat-checkbox [(ngModel)]="acceptTerms">Aceito os termos</mat-checkbox>
      </section>
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button >Enviar</button>
    </div>
  </mat-step>
</mat-stepper>